#dialog_body(data-bind="visible: dialog_opened")
  %div(id="ytPlayer")
  %br
  
  %button(data-bind="click: clickedResult.bind($data, 'ippon')") IPPON(一本)
  %br
  %button(data-bind="click: clickedResult.bind($data, 'yuko')") YUKO(有効)
  %br
  %button(data-bind="click: clickedResult.bind($data, 'wazaari')") WAZAARI(技あり)
  %br  
  %button(data-bind="click: clickedResult.bind($data, 'nothing')") Non of the above
  %br  
  %p(data-bind="text: result()")
  %br  
  %button(data-bind="click: closeDialog.bind($data)") close

#dialog_back(data-bind="visible: dialog_opened")

.main_contents
  %h2 test h2

  - @video_info.each do |info|
    %button(data-bind="click: selectVideo.bind($data, '#{info.video_id}', '#{info.result}', #{info.start_at}, #{info.end_at})")= info.name
    %br